Write a Program to interchange first and last elements in a list

In [ ]:
mylist=[1,2,3,4,5]
mylist[0],mylist[-1]=mylist[-1],mylist[0]
print(mylist)

[5, 2, 3, 4, 1]

Program to swap two elements in a list

In [ ]:
mylist=[1,2,3,4,5]
pos1,pos2=1,4
mylist[pos1],mylist[pos2]=mylist[pos2],mylist[pos1]
print(mylist)

[1, 5, 3, 4, 2]

Swap elements in String list

In [ ]:
mylist=["apple","banana","orange","cherry"]
pos1,pos2=1,3
mylist[pos1],mylist[pos2]=mylist[pos2],mylist[pos1]
print(mylist)

['apple', 'cherry', 'orange', 'banana']

Ways to find length of list

In [ ]:
mylist=[1,2,3,4,5]
print(len(mylist))

5

Maximum of two numbers in Python

In [ ]:
a=10
b=15
if a>b:
  print(a)
else:
  print(b)

15

Minimum of two numbers in Python

In [ ]:
a=10
b=15
if a<b:
  print(a)
else:
  print(b)

10

Ways to check if element exists in list

In [ ]:
mylist=[1,2,3,4,5]
if 7 in mylist:
  print("yes")
else:
  print("no")

no

Different ways to clear a list in Python

In [ ]:
mylist=[1,2,3,4,5]
mylist.clear()
print(mylist)

[]

Reversing a List

In [ ]:
mylist=[1,2,6,4,5]
mylist.sort(reverse=True)
print(mylist)

[6, 5, 4, 2, 1]

Cloning or Copying a list

In [ ]:
mylist=[1,2,3,4,5]
mylist2=mylist.copy()
print(mylist2)

[1, 2, 3, 4, 5]

Count occurrences of an element in a list

In [ ]:
mylist=[1,2,2,2,3,4,5]
print(mylist.count(2))

3

Program to find sum and average of List in Python

In [ ]:
mylist=[1,2,3,4,10]
print(sum(mylist))
print(sum(mylist)/len(mylist))

20
4.0

Sum of number digits in List

In [ ]:
mylist1=[1,2,3,4,5,7]
sum=0
for i in mylist1:
  sum+=i
print(sum)

22

Multiply all numbers in the list

In [ ]:
mylist=[1,2,3,4,10]
multiply=1
for i in mylist:
  multiply*=i
print(multiply)

240

Program to find smallest number in a list

In [ ]:
mylist=[7,2,3,4,10]
mylist.sort()
print(mylist[0])

2

Program to find largest number in a list

In [ ]:
mylist=[7,2,3,4,10]
mylist.sort()
print(mylist[-1])

10

Program to find second largest number in a list

In [ ]:
mylist=[7,2,3,4,10]
mylist.sort()
print(mylist[-2])

7

Program to print even numbers in a list

In [ ]:
mylist=[7,2,3,4,10]
for i in mylist:
  if i%2==0:
    print(i)

2
4
10

Program to print odd numbers in a List

In [ ]:
mylist=[7,2,3,4,10]
for i in mylist:
  if i%2!=0:
    print(i)

7
3

Program to print all even numbers in a range

Program to print all odd numbers in a range

In [ ]:
range=

Program to count Even and Odd numbers in a List

In [ ]:
mylist=[1,2,3,4,5]
evencount=0
oddcount=0
for i in mylist:
  if i%2==0:
    evencount+=1
  else:
    oddcount+=1
print("evencount:",evencount)
print("oddcount:",oddcount)

evencount: 2
oddcount: 3

Program to print positive numbers in a list

In [ ]:
mylist=[1,-2,3,-4,5]
for i in mylist:
  if i>-1:
    print(i)

1
3
5

Program to print negative numbers in a list

In [ ]:
mylist=[1,-2,3,-4,5]
for i in mylist:
  if i<0:
    print(i)

-2
-4

Program to print all positive numbers in a range

In [3]:
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))
print("Positive numbers in the range:")
for number in range(start,end+1):
   if number>0:
      print(number)

Enter the start of the range: -1
Enter the end of the range: 5
Positive numbers in the range:
1
2
3
4
5

Program to print all negative numbers in a range

In [5]:
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))
print("Positive numbers in the range:")
for number in range(start,end+1):
  if number<0:
    print(number)

Enter the start of the range: -1
Enter the end of the range: 1
Positive numbers in the range:
-1

Program to count positive and negative numbers in a list

In [ ]:
Mylist=[1,-2,3,-4,5]
Positive=0
Negative=0
for i in Mylist:
  if i>-1:
   Positive+=1
  else:
   Negative+=1
print("Positive:", Positive)
print("Negative:", Negative)

Positive: 3
Negative: 2

Remove multiple elements from a list in Python

In [ ]:
Mylist=[1,2,3,4,5]
RemoveElements=[2,4]
for i in RemoveElements:
  if i in Mylist:
    Mylist.remove(i)
print(Mylist)

[1, 3, 5]

Remove empty tuples from a list

In [8]:
original_list = [(1, 2),(),(3, 4)]
filtered_list = [tup for tup in original_list if tup]
print(filtered_list)

[(1, 2), (3, 4)]

Program to print duplicates from a list of integers

In [ ]:
Mylist = [1,2,2,3,3,4,5]
duplicates = []

for i in Mylist:
    if Mylist.count(i) > 1 and i not in duplicates:
        duplicates.append(i)

# Print the duplicates
for duplicate in duplicates:
    print(duplicate)

2
3