In [ ]:
#Find the Size of a Tuple
t = (1, 2, 3)
size = len(t)
print(size)

In [ ]:
#Maximum and Minimum K Elements in Tuple
t = (5, 1, 3, 9, 7)
k = 2
max_k = sorted(t, reverse=True)[:k]
min_k = sorted(t)[:k]
print(max_k, min_k)

In [ ]:
# Create a List of Tuples from Given List Having Number and Its Cube
numbers = [1, 2, 3]
cubes = [(x, x**3) for x in numbers]
print(cubes)

In [ ]:
#Adding Tuple to List and Vice-Versa
t = (1, 2)
lst = [3, 4]
lst.append(t)  # Adding tuple to list
print(lst)
t = tuple(lst)  # Converting list to tuple
print(t)

In [ ]:
#Sum of Tuple Elements
t = (1, 2, 3)
total = sum(t)
print(total)

In [ ]:
#Modulo of Tuple Elements
t = (10, 20, 30)
mod_t = tuple(x % 3 for x in t)
print(mod_t)

In [ ]:
#Row-wise Element Addition in Tuple Matrix
matrix = ((1, 2), (3, 4))
row_sums = tuple(sum(row) for row in matrix)
print(row_sums)

In [ ]:
#Update Each Element in Tuple List
t_list = [(1, 2), (3, 4)]
updated = [(x + 1, y + 1) for x, y in t_list]
print(updated)

In [ ]:
#Join Tuples if Similar Initial Element
t1 = (1, 2)
t2 = (1, 3)
joined = t1 + t2 if t1[0] == t2[0] else (t1, t2)
print(joined)

In [3]:
#All Pair Combinations of 2 Tuples
from itertools import product

t1 = (1, 2)
t2 = (3, 4)
combinations = list(product(t1, t2))
print(combinations)

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [ ]:
#Remove Tuples of Length K
lst = [(1, 2), (3, 4), (5, 6)]
k = 2
filtered = [t for t in lst if len(t) != k]
print(filtered)

In [ ]:
#Remove Tuples from the List Having Every Element as None
lst = [(1, 2), (None, None), (3, 4)]
filtered = [t for t in lst if all(x is None for x in t)]
print(filtered)

In [ ]:
#Sort a List of Tuples by Second Item
t_list = [(1, 3), (2, 1), (3, 2)]
sorted_list = sorted(t_list, key=lambda x: x[1])
print(sorted_list)

In [ ]:
#Sort Tuples by Total Digits
t_list = [(1, 23), (4, 5), (12, 3)]
sorted_list = sorted(t_list, key=lambda x: sum(len(str(i)) for i in x))
print(sorted_list)

In [ ]:
#Filter Range Length Tuples
t_list = [(1, 2), (3, 4, 5), (6,)]
filtered = [t for t in t_list if 2 <= len(t) <= 3]
print(filtered)

In [ ]:
#Removing Duplicates from Tuple
t = (1, 2, 2, 3)
result = tuple(set(t))
print(result)